ansible==4.0.0
ansible-core==2.11.1
autocommand==2.2.1
boto3==1.17.91
botocore==1.20.91
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.9
click==8.1.2
cryptography==3.4.7
distlib==0.3.6
filelock==3.8.0
Flask==1.1.2
idna==2.10
importlib-resources==5.9.0
inflect==6.0.0
irc==19.0.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.5.2
jaraco.context==4.1.2
jaraco.functools==3.5.2
jaraco.logging==3.1.2
jaraco.stream==3.0.3
jaraco.text==3.9.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.1.1
more-itertools==8.14.0
packaging==20.9
platformdirs==2.5.2
pycparser==2.20
pydantic==1.10.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2022.2.1
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
s3transfer==0.4.2
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
tempora==5.0.2
typing-extensions==4.3.0
urllib3==1.26.5
virtualenv==20.16.5
Werkzeug==2.2.2
zipp==3.8.1
